.DS_Store
private_key.pem
public_key.pem
private_key2.pem
public_key2.pem
node_modules
.env*
*.env
lambda-mediaConvert-HelloWorldFunction-tlHqyWnRiaZR/.env
lambda-mediaConvert-HelloWorldFunction-tlHqyWnRiaZR/node_modules/
node_modules
*/node_modules
commands.txt